*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
   
    border: 0px;
    text-align: center;
    
    
}
body{
    background-color: hsl(212, 45%, 89%) ;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.container{
    
    max-width: 295px; 
     background-color: white;
     border: 20px solid white ;  
}

.container2 img{
  width: 255px;
 
  
    
}

.container2{
    
     
}
h1{
    font-size: 21px;
    font-family: 'Outfit', sans-serif;
    font-weight: 400 700;
    
}
.heading{
    margin-top: 20px ;
    margin-bottom: 20px;
}






